/* Our Passion Site CSS */

/* Parallax background effect */
.parallax {
  background-image: url("../images/Greenbackgroundlong.jpg");
  /* Parallax effect */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  /* Extra padding on the top and the bottom to create space between the white background */
  padding: 10vw 0;
}

/* Memorialcard most outer container*/
.memorialcard {
  /* Padding top and bottom to create space between the memorialcards */
  padding: 150px 0;
  /* Flex so we are able to change the direction on every nth element */
  display: flex;
}

.memorialbody {
  /* defining height, width and colour of the outer memorial div */
  width: 70%;
  min-height: 500px;
  background-color: white;
  /* display elements in row */
  display: flex;
  flex-direction: row;
  /* Round corners */
  border-radius: 25px;
}
/* Every second memorialcard is reversed */
.memorialcard:nth-child(odd) {
  flex-direction: row-reverse;
}
/* manual class reverse */
.mr {
  flex-direction: row-reverse;
}
/* Container housing main text of the memorial */
.memorialmain {
  /* Padding around text */
  padding: 20px 100px;
  /* Center text vertically */
  display: flex;
  align-items: center;
}
/* Container housing image and description of student */
.memorialside {
  /* var(--maincolor) refers to the global variable defined in main.css */
  background-color: var(--maincolor);
  /* Make sure it does not get squeezed too much and stays on at least npx */
  min-width: 300px;
  /* sideelement now also has rounded borders */
  border-radius: 25px;
}
/* Container of the memorial sideimage */
.mimage {
  /* Change the background colour and round corners */
  background-color: var(--secondarycolor);
  border-radius: 25px;
  min-height: 200px;
  /* Align image in container */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* memorial sideimage */
.memorialside img {
  /* Image size */
  height: 160px;
  width: 160px;
  /* Round the image */
  border-radius: 50%;
}
/* memorial sidedescription container*/
.msdesc {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Align text horizontally */
  text-align: center;
}
/* Media Queries */
@media all and (max-width: 1600px) {
  p {
    font-size: 27px;
  }

  .memorialbody {
    width: 100%;
  }

  .memorialside {
    width: 100%;
  }

  .mimage {
    margin-bottom: 0;
  }
}

@media all and (max-width: 900px) {
  p {
    font-size: 24px;
  }
  h3 {
    font-size: 26px;
  }
  .memorialbody {
    flex-direction: column-reverse;
  }
  .msdesc {
    height: auto;
    margin: 20px 0;
  }
  .memorialmain {
    padding: 50px 50px;
  }
}

@media all and (max-width: 500px) {
  p {
    font-size: 20px;
  }
}
