/* Out Passion Site CSS*/
.parralaxourpassion {
  height: 2000px;
  width: 100%;
  background-image: url("/images/Greenbackgroundlong.jpg");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.placeholder {
  width: 100%;
  height: 300px;
}

.memorialcard {
  height: 500px;
  width: 100%;
  margin-bottom: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.memorialbody {
  width: 60%;
  height: inherit;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.memorialmain {
  padding: 0 50px;
  height: 100%;

  display: flex;

  align-items: center;
}
.memorialside {
  background-color: var(--maincolor);
  height: 100%;
  min-width: 300px;
  border-radius: 25px;
  border: 0px solid var(--maincolor);
}
.memorialside div {
  text-align: center;
}

.mimage {
  background-color: var(--secondarycolor);
  width: 100%;
  height: 40%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin-bottom: 20%;
}

.memorialside img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

.memorialcard:nth-child(odd) {
  flex-direction: row-reverse;
}
.mr {
  flex-direction: row-reverse;
}

@media all and (max-width: 1600px) {
  p {
    font-size: x-large;
  }
}

@media all and (max-width: 1300px) {
  .memorialcard {
  }
  .memorialbody {
    width: 100%;
    height: fit-content;
    flex-direction: column-reverse;
  }

  .memorialside {
    align-items: center;
    width: 100%;
    min-height: 300px;
  }
  .memorialmain {
    background-color: white;
    padding: 50px 100px;
    border-radius: 25px;
  }
  .mimage {
    margin-bottom: 0;
  }
  .mcontent {
  }

  p {
    font-size: x-large;
  }
}
