/* Style the header */
.header {
  border: solid 2px black;
  background-color: #b3e59f;
  padding: 40px;
  text-align: center;
  font-size: 20px;
}

/* Create three equal columns that floats next to each other */
.row {
  display: grid;
  /* 1fr is representing one fraction, as all fractions are all equal, the columns will take up equal space */
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
/* Styling for every column */
.column {
  border: solid 2px black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Every even element receives these changes */
.column:nth-child(even) {
  background-color: lightgray;
}
/* Every odd element receives these changes*/
.column:nth-child(odd) {
  background-color: rgb(241, 231, 231);
}
/* span elemnts used to style text */
.column span {
  font-weight: bold;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 1300px) {
  .row {
    grid-template-columns: 1fr;
  }
}
/* Styling for a link */
.link {
  text-decoration: underline;
  color: blue;
}

.imgrow {
  /* Always takes up 100% of its parent element in width */
  min-width: 100%;
  /* Center image vertically as well as horizontally*/
  display: flex;
  justify-content: center;
  align-items: center;
}
