.sideview {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.sideviewcontent {
  width: 60%;
}
.sideviewimg {
  width: 40%;
  background-color: var(--maincolor);
}
.sideviewimg img {
  width: 100%;
}
