/* Styling for the why you should care page */
.reasons {
  margin: 150px 0;
}
/* Reasons Wrapper */
.reasonswrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin: 100px 10px;
}
/* header of the reason grid */
.reasontitle {
  width: 100%;
  text-align: center;
}
/* Styling for each individual reason */
.reason {
  display: flex;
  flex-direction: column;
  background-color: var(--maincolourlight);
  /* Rounded Corners */
  border-radius: 25px;
}
/* Container for the image in the reasons section */
.rimg {
  /* Center Image*/
  display: flex;
  justify-content: center;
  align-items: center;
  /* Round Corners */
  border-radius: 25px;
  width: 100%;
  height: 100px;
  background-color: var(--secondarycolor);
}
/* Styling for the image itself */
.rimg img {
  height: 80px;
}
/* Styling for the textcontainer */
.rtext {
  /* align center */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 150px;
  width: 100%;
  /* Round borders */
  border-radius: 25px;
  background-color: var(--maincolourlight);
}
/* Reduce the size of the secondaryItem2 as no image will be inside */
@media all and (max-width: 900px) {
  .secondaryItem2 {
    height: 80px;
    min-height: 80px;
  }
}

.displayimg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 100px 30px;
}
.displayimg img {
  width: 100%;
}
.displayimg div {
  display: flex;
  flex-direction: column;
}
.displayimg div h2 {
  text-align: center;
  padding: 20px 0;
}

/* Pdf section */
.sciencepapers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 100px 0;
}
/* Link styling */
.sciencepapers a {
  color: blue;
  text-decoration: underline;
}
/* Pdf iframe */
.sciencepapers iframe {
  width: 60%;
  height: 100vh;
}

@media all and (max-width: 1400px) {
  .reasonswrapper {
    grid-template-columns: 1fr 1fr;
  }
  .displayimg {
    grid-template-columns: 1fr;
  }
  .sciencepapers iframe {
    height: auto;
    min-height: 60vh;
    width: 80%;
  }
}
@media all and (max-width: 1000px) {
  .reasonswrapper {
    grid-template-columns: 1fr;
  }
}
