@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');
// font-family: 'Quicksand', sans-serif;

:root{
    --maincolor: #ffffff;
    --secondarycolor: #d6d6d6;
}

body{
    margin: 0;
    background-color: 0;
}
